Proyectos LMSGI/src/Tema4/EjerciciosDTD/Ejercicio1.dtd

<!ELEMENT placasBase (placa)*>
<!ELEMENT placa (componentes)>
<!ELEMENT componentes (microprocesador?, memoria+, modelo?,fabricante)*>
<!ELEMENT microprocesador (#PCDATA)>
<!ELEMENT memoria (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT fabricante (Asus | Intel)*>
<!ELEMENT Asus EMPTY>
<!ELEMENT Intel EMPTY>

