Proyectos LMSGI/src/Tema4/Ejercicio2.dtd

<!ELEMENT emails (email)*>
<!ELEMENT email (para*, cc*, cco*, asunto, texto, adjunto*)>
<!ELEMENT adjunto (nombre, mine-type, longitud)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT cc (#PCDATA)>
<!ELEMENT cco (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT texto (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT mine-type (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
